
* {
  box-sizing: border-box; 
}
   
a {
  text-decoration: none; 
}

body {
  background-image: url(./images/live-well-md.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 37% 0%;
}  

#root{
  background-color: #f0f8ff4f;
  margin: 0 100px; 
  height: 100vh; 
}

@media only screen and (max-width: 768px) {
  #root{
    margin:0px; 
  }
}