.landingPage {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    background-color: navajowhite;
    height: 80%;
    padding: 32px 0 32px;
    border-radius: 3px;
}

.landingPage h1 {
    font-family: cursive;
    color: darkred; 
}

.landingPage p {
    background-color: antiquewhite;
    font-size: 40px;
    margin: 0 18px;
}

@media only screen and (max-width: 768px) {
.landingPage{
    padding:32px 0 32px;
}
 .landingPage p {
     font-size: 31px;
 }
}