.viewFishDiv{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#return-btn {
    margin: 27px auto 0;
    display: block;
    padding: 20px 41px;
    width: 132px;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px 0px 10px 1px black;
    background-color: #b9ff00;
    color: black;
    font-size: 1.2em;  
    font-weight: bold;
    text-shadow: 1px 1px 3px #3ddf48;
}

.btnSpace {
    display: flex;
    align-items: center;
    justify-content: center;
}

#edit-btn {
    /* margin: 27px auto 0;   */
    display: block;  
    /* padding: 20px 41px; */
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px 0px 10px 1px black;
    background-color: #00e7ff;
    color: black;
    /* font-size: 1.2em;   */
    font-weight: bold;
    text-shadow: 1px 1px 3px #3ddf48;
}

#remove-btn {
    margin: 5px 0 0;  
    padding: 8px;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px 0px 10px 1px black;
    background-color: orange;
    color: black;
    /* font-size: 1.2em;   */
    font-weight: bold;
    text-shadow: 1px 1px 3px #3ddf48;
    font-family: sans-serif;
}

#edit-btn, #remove-btn{
    font-size: 30px;
}

#finish-btn {
    margin: 27px auto 0;  
    padding: 20px 41px;
    border-radius: 6px;
    border: none;
    box-shadow: inset 0px 0px 10px 1px black;
    background-color: plum;
    color: black;
    font-size: 1.2em;  
    font-weight: bold;
    text-shadow: 1px 1px 3px #3ddf48;
}

table {
    background: blue;
    text-align: center;
    table-layout: fixed;
}

th,td{

}

td{
    font-family: 'Modak', cursive;
    font-size: 34px;
    height: 80px;
    line-height: 40px;
}

tr {
    background-color: beige;
}

  
th {
    background: #d6ff00;
    font-size: 30px;
    height: 30px;
    color: #0058ff;
    font-family: sans-serif;
    padding: 20px; 
}

tr.Largemouth.Bass {
    background: #00ceff;
    font-size: 22px;
    text-align: center; 
}   

tr.White.Perch {
    background: gray;
    font-size: 22px;
    text-align: center; 
}   

tr.Catfish {
    background: green;
    font-size: 22px;
    text-align: center; 
}   

tr.Bluegill {
    background: orange;
    font-size: 22px;
    text-align: center; 
}   


@media only screen and (max-width: 768px) {
        th{
            padding:0px;
            font-size: 4vw;
        }
        td{
            font-size: 5vw;

        }
  }